@model WebsiteNhacOnl.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký admin music";
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";
}
<head>
    <style>
        .reg{
            border: 2px solid black;
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 50px;
        }
    </style>
</head>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="row">
    
      <div class="col-md-6" style="padding: 15px 40px;">
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
      <div class="reg">
          <div class="form-group">
              @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                  @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
              </div>
          </div>
          <div class="form-group">
              @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                  @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
              </div>
          </div>
          <div class="form-group">
              @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                  @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" class="btn btn-default" value="Đăng ký" />
              </div>
          </div>
      </div>
            
        </div>
   
 
    <div class="col-md-6" style="padding-left:0px 50px">
        <img src="~/Content/images/imgweb/logo1-.png" width="500px" height="320px" />
    </div>
</div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
