@model WebsiteNhacOnl.Models.TaiNhac

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 style="margin-left:160px;">Chi tiết tải nhạc</h2>
<hr />
<div>

    <dl class="dl-horizontal" style="margin-left:250px;">
        <dt>
            Tên Nhạc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhac)
        </dd>

        <dt>
            File
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File)
        </dd>

        <dt>
            Size (KB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<hr />
<p style="margin-left:160px;">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại", "Index")
</p>