@model WebsiteNhacOnl.Models.BaiHat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 style="margin-left:160px;">Chi tiết bài hát</h2>
<hr />
<div style="margin-left:250px;">


    <dl class="dl-horizontal">

        <dt>
            Tên bài hát
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBH)
        </dd>

        <dt>
            Ca sĩ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaSi)
        </dd>

        <dt>
            Tác giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            Hình ảnh bài hát
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.HinhAnhBH)" alt="Ảnh bài hát" style="width:150px; height:150px" />
        </dd>
        <dt>
            Lời bài hát
        </dt>

        <dd>
            <p>@Html.TextAreaFor(model => model.LoiBH, new { htmlAttributes = new { @class = "form-control" }, cols = "60", rows = "15" })</p>
        </dd>
        <dt>
            Link bài hát
        </dt>

        <dd>
            <p>@Html.DisplayFor(model => model.UrlBH)</p>
            <audio controls>
                <source src="horse.ogg" type="audio/ogg">
                <source src="~/Content/music/@Html.DisplayFor(model => model.UrlBH)" type="audio/mpeg">
                Trình duyệt của bạn không hỗ trợ các yếu tố âm thanh.
            </audio>

        </dd>


    </dl>

</div>
<hr />
<p style="margin-left:  170px">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại", "Index")
</p>